<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
    <title>Tiny Scheduler</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">
    <link href="//fonts.googleapis.com/css?family=Roboto:400,500|Inconsolata:400,700|Roboto Mono:400|Sofia Light:400|Open Sans:400" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
</head>
<body>
    <header class="">
      <div class="header-desktop">
          <div class="inner">
              <div class="left-logo"></div>
              <nav class="header-nav">
                <a id="nav-create" class="selected_menu" href="{{ url_for('form_job') }}">Create job</a>
                <a id="nav-list" class="simple_menu" href="{{ url_for('list_job') }}">List jobs</a>
              </nav>
          </div>
      </div>
    </header>
    <main>
        <div id="container">
        <div class="headline center">
          <h1>Job details</h1>
        </div>
         <table>
            <tbody>
                <tr>
                    <td class="label">Job name</td><td>{{job_name}}</td>
                </tr>
                <tr>
                    <td class="label">Emails recipient</td><td>{{emails}}</td>
                </tr>
                <tr>
                    <td class="label">GCP project Id</td><td>{{project_id}}</td>
                </tr>
                <tr>
                    <td class="label">GCP bucket Id</td><td>{{bucket_id}}</td>
                </tr>
                <tr>
                    <td class="label">GCE machine ame</td><td>{{machine_name}}</td>
                </tr>
                <tr>
                    <td class="label">GCE startup script</td><td>{{startup_script}}</td>
                </tr>
                <tr>
                    <td class="label">GCE shutdown script</td><td>{{shutdown_script}}</td>
                </tr>
                <tr>
                    <td class="label">GCE machine type</td><td>{{machine_type}}</td>
                </tr>
                <tr>
                    <td class="label">GCE machine OS</td><td>{{machine_os}}</td>
                </tr>
                 <tr>
                    <td class="label">GCE machine zone</td><td>{{machine_zone}}</td>
                </tr>
                 <tr>
                    <td class="label">After run</td><td>{{after_run}}</td>
                </tr>
                <tr>
                    <td class="label">Cron scheduler</td><td>{{cron_schedule}}</td>
                </tr>
                <tr>
                    <td class="label">Maximum running time</td><td>{{max_running_time}}</td>
                </tr>
            </tbody>
         </table>
        </div>
    </main>
    <footer>
      <div class="inner">
      </div>
    </footer>
</body>
</html>